<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="NarrowItDownApp">
   <div ng-controller="NarrowItDownController as narrowItDownCtrl" class="container">
     <div class="row">
       <div class="col-xs-12">
         <h1>Narrow Down Your Chinese Menu Choice</h1>
       </div>
     </div>

     <div class="row">
       <div class="col-xs-12 col-sm-8">
         <div class="form-group col-xs-12 col-sm-5">
           <input ng-model="narrowItDownCtrl.searchTerm" type="text" placeholder="search term" class="form-control">
         </div>
         <div class="form-group narrow-button col-xs-12 col-sm-3">
           <button ng-click="narrowItDownCtrl.search();" class="btn btn-primary">Narrow It Down For Me!</button>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="col-xs-12">
         <div class="error col-xs-12" ng-show="narrowItDownCtrl.nothingFound">Nothing found</div>
         <!-- found-items should be implemented as a component -->
         <found-items items="narrowItDownCtrl.found" on-remove="narrowItDownCtrl.removeItem(index)"></found-items>
       </div>
     </div>

  </div>

   <!-- AngularJS -->
   <script src="lib/angular.min.js"></script>
   <!-- Program code -->
   <script src="src/app.js"></script>

</body>
</html>
