body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}

h1 {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 25px;
}

.categories {
  cursor: pointer;
}

.categories:hover {
  box-shadow: 0 0 6px #10c7f1;
}

.panel-heading {
  height: 80px;
}

.panel-body {
  height: 100px;
  overflow: hidden;
}
